body {
	width: 300px;
	height: 100%;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.gap-1 {
	gap: 1em;
}
.flex-1 {
	flex: 1;
}
.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}
div:has(textarea) {
	height: 400px;
}
textarea {
	resize: none;
	height: 100%;
	overflow: auto;
}
#response-unicode {
	font-size: xx-large;
}
img {
	object-fit: contain;
}

.editable {
	border: 1px solid #ccc; /* 테두리 추가 */
	padding: 8px;
	overflow-y: auto;
	min-height: 100px;
	white-space: pre-wrap; /* 줄 바꿈 유지 */
	word-wrap: break-word; /* 긴 단어 줄 바꿈 */
	font-family: Arial, sans-serif; /* 폰트 설정 */
	font-size: 14px; /* 기본 글꼴 크기 */
	background-color: #f9f9f9; /* 읽기 편한 배경색 */
	resize: none; /* 크기 조절 불가 */

	caret-color: transparent; /* 커서 숨기기 */
	user-select: text;    /* 텍스트 선택은 허용 */
}

.editable * {
	border: solid 1px black;
}

.editable mark {
	background-color: lightskyblue;
	color: black;
	border: solid 1px black;
}